<% layout("/layouts/boilerplate") %>  

<style>
    #filters{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .filter{
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
    }
    .filter:hover{
        opacity: 1;
        cursor: pointer;
    } 
    .tax-info{
        display: none;
    }
    .tax-toggle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 2,5rem;
        padding: 1rem;
        margin-left: 3rem;
        display: flex;
        align-items: center ;
    }
</style>

 <div id="filters">
    <div class="filter">
        <div class=""><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>
    <div class="filter">
        <div class=""><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
    </div>
    <div class="filter">
        <div class=""><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
    </div>
    <div class="filter">
        <div class=""><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
    </div>
    <div class="filter">
        <div class=""><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing pools</p>
    </div>
    <div class="filter">
        <div class=""><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
    </div>
    <div class="filter">
        <div class=""><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
    </div>
    <div class="filter">
        <div class=""><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctic</p>
    </div>
    <!-- <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
          </div>
    </div> -->
 </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1mt-3">  
        <% for (let listing of allListings) { %>   
            <a href="/listings/<%= listing._id %>" class="listing-link">  
                <div class="card col listing-card">  
                    <% if (listing.image && listing.image.url) { %>  
                        <img style="height: 20rem;" src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" />  
                    <% } else { %>  
                        <img style="height: 20rem;" src="https://images.unsplash.com/photo-1552733407-5d5c46c3bb3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="Default Image" />   
                    <% } %>  
                    <div class="card-img-overlay"></div>  
                    <div class="card-body">  
                        <h5 class="card-title"></h5>  
                        <p class="card-text">  
                            <b><%= listing.title ? listing.title : 'No Title Available' %></b><br/>    
                            <!-- Check if listing.price exists before displaying -->  
                            &#8377;<%= (listing.price != null) ? listing.price.toLocaleString("en-IN") : 'Price not available' %>  / night 
                            <i class="tax-info">&nbsp; &nbsp;+18% GSt</i>
                        </p>  
                    </div>  
                </div>  
            </a>   
        <% } %>  
    </div>  

    <script>
        let taxSwitch = document.getElementById("flexSwitchCheckDefault")
         taxSwitch.addEventListener("click",()=>{
             let taxInfo = document.getElementsByClassName("tax-info");
            if(info.style.display != "inline"){
                info.style.display = "inline";
            } else{
                info.style.display = "none";
            }
         })
    </script>
