<% layout("/layouts/boilerplate") %>  

<div class="row">  
    <div class="col-8 offset-2">  
        <br/><br/>  
        <h3>Create a New Listing</h3>  
        <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data"> 
            <div class="mb-3">  
                <label for="title" class="form-label">Title</label>  
                <input id="title" name="listing[title]" placeholder="Enter title" type="text" class="form-control" required>  
                <div class="valid-feedback">Title looks good!</div>  
                <div class="invalid-feedback">Please provide a title.</div>  
            </div>  
            <div class="mb-3">  
                <label for="description" class="form-label">Description</label>  
                <textarea id="description" name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>  
                <div class="invalid-feedback">Please enter a short description.</div>  
            </div>  
            <div class="mb-3">  
                <label for="image" class="form-label">Upload Image</label>  
                <input id="image" name="listing[image]"  type="file" class="form-control" required>  
                <div class="invalid-feedback">Please provide an image URL.</div>  
            </div> 
            <div class="row">  
                <div class="mb-3 col-md-4">  
                    <label for="price" class="form-label">Price</label>  
                    <input id="price" name="listing[price]" placeholder="Enter price" type="number" step="0.01" class="form-control" required>  
                    <div class="invalid-feedback">Price must be a valid number.</div>  
                </div>  
                <div class="mb-3 col-md-8">  
                    <label for="country" class="form-label">Country</label>  
                    <input id="country" name="listing[country]" placeholder="Enter country" type="text" class="form-control" required>  
                    <div class="invalid-feedback">Please provide a valid country.</div>  
                </div>  
            </div>  
            <div class="mb-3">  
                <label for="location" class="form-label">Location</label>  
                <input id="location" name="listing[location]" placeholder="Enter location" type="text" class="form-control" required>  
                <div class="invalid-feedback">Please provide a valid location.</div>  
            </div>  
            <br/>  
            <button type="submit" class="btn btn-dark add-btn">Add</button>  
        </form>  
    </div>  
</div>